<div class="card">
  <a [routerLink]="['/product', product.productId]">
    <img [src]="product.productUrl" alt="{{ product.productName }}">
  </a>

  <h4>{{ product.productName }}</h4>
  <p>In stock: {{ product.stock }}</p>

  <div>
    <b>{{ product.price | currency:'INR':'symbol' }}</b>
  </div>

  <div class="actions">
    <button type="button" (click)="addToCart.emit(product)">🛒</button>
    <button type="button" (click)="addToWishlist.emit(product)">❤️</button>
    <button type="button" [routerLink]="['/product', product.productId]">🔍</button>
  </div>
</div>