<div class="footer">
  <div class="container footer-grid">

    <div>
      <h4>Information</h4>
      <p>Terms & Conditions</p>
      <p>Delivery Information</p>
      <p>About Us</p>
      <p>Privacy Policy</p>
    </div>

    <div>
      <h4>Customer Service</h4>
      <p>Contact Us</p>
      <p>Returns</p>
      <p>Site Map</p>
    </div>

    <div>
      <h4>Extras</h4>
      <p>Brands</p>
      <p>Gift Certificates</p>
      <p>Affiliate</p>
      <p>Specials</p>
    </div>

    <div>
      <h4>My Account</h4>
      <p>My Account</p>
      <p>Order History</p>
      <p>Wish List</p>
      <p>Newsletter</p>
    </div>

  </div>

  <div class="bottom">
    Powered By OpenCart <br>
    Your Store © 2025
  </div>
</div>